body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-color:#06141b;
    color: #fff;
}

.identification {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #11212d;
    border: 1px solid #253745;
    border-radius: 10px;
    box-shadow: 0 4px 6px #4a5c6a;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    color: #ccd0cf;
    font-style: oblique;
}

input {
    width: calc(100% - 10px);
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    margin: auto;
    display: flex;
    padding: 10px 15px;
    font-size: 16px;
    font-family: oblique;
    color: #fff;
    background-color: #9ba8ab;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #06141b;
}
